<script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "Article",
        "url": "{{ prepend: site.url }}{{ prepend: site.baseurl | prepend: page.url | prepend: post.url }}",
        "headline": "{{ page.title | site.blog_title }}",
        "about": "{{ site.description }}",
        "name": "{{ page.title | site.blog_title }}",
        "datePublished": "{{ page.date }}",
        "image": "{{ content.image }}",
        "articleSection": "{{ page.title | site.blog_title }}",
        "articleBody": "{{ content }}",
        "publisher" : {
            "@type" : "Organization",
            "name" : "{{ site.title }}"
        }
    }
</script>