<script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "Article",
        "url": "{{ site.url }}{{ prepend: site.baseurl | prepend: page.url | prepend: post.url }}",
        "headline": "{{ page.title | site.blog_title }}",
        "about": "{{ site.description }}",
        "name": "{{ page.title | site.blog_title }}",
        "datePublished": "{{ page.date }}",
        "dateModified": {{ page.last_modified_at | default: page.date | jsonify }},
        "image": "{{ page.og_image }}",
        "articleSection": "{{ page.title | site.blog_title }}",
        "author" : {
          "@type" : "Organization",
          "name" : "{{ site.title }}",
          "url": "https://aista.com"
        },
        "publisher" : {
            "@type" : "Organization",
            "name" : "{{ site.title }}"
        }
    }
</script>